$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


@import 'sass-bootstrap/lib/bootstrap';
$color1: rgb(147,107,232);
$color2: rgb(127,111,225);
$color3: rgb(90,103,232);

path {
  fill: #000;
  fill-opacity: 0;
  stroke: #000;
  stroke-width: 1.5px;
}

.div-icon {
	border-radius: 30px;
	width: 30px;
	height: 30px;
	border-color: lighten(rgba(0,0,177,0.1), 30%);
	background-color: rgba(0,0,177,0.2);
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button {
	border:none;
	border-radius:none;
}

#map{
	width:100%;
	height:100%;
	position:fixed;
	z-index:1;
}

#map-overlay{
	width:100%;
	height:100%;
	background:transparentize($color1,0.4);
	z-index:3;
	position:absolute;
	top:0px;
	left:0px;
}

#districts {
	// z-index: 3;
	// position:relative;
	// display:none;
}

#control{
	z-index:3;
	position:relative;
}

#narrative{
	z-index:3;
	position: absolute;
	bottom: 50px;
	font-size:2em;
}

#control{

	position:fixed;
	bottom:0px;
	width:100%;
	button{
		width:33.3333%;
		height:100px;
		display:inline-block;
		float:right;
		background:$color1;;
		border:0px solid white;
		color:rgb(250,250,250);
font-family: 'Montserrat', sans-serif;		text-transform:uppercase;
		letter-spacing:1px;
	}

}

button#auto-map{
	background:$color2;;
}

button#view-map{
	background:$color3;;
}

#title{
	position:absolute;
	z-index:5;
	top:30%;
	text-align:center;
	font-size:4em;
	line-height: 1.3em;
	font-weight: 700;
font-family: 'Montserrat', sans-serif;
	letter-spacing:2px;
	width:100%;
}

.select-style {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0px;
	left:0px;
    border: 1px solid #ccc;
    // width: 120px;
    border-radius: 0px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
    display:none;
        z-index:4;

}

.select-style select {
    padding: 5px 8px 0 20px;
    height: 50px !important;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    z-index:4;
    font-size: 1.5em;
    font-family:"Helvetica Neue";
    font-weight:300;
}

.select-style select:focus {
    outline: none;
}